* {
    font-family: 'Shantell Sans', cursive;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
main {
    background-color: #C6C5B9;
    border-left: #A9A89A 2.3721275019vw solid;
    border-right: #A9A89A 2.3721275019vw solid;
    min-height: 60vh;
}
